.modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border-radius: 10px;
    width: 60vw;
    height: 20vh;
    background-color: #00A3E0;
    padding: 20px; 

    .close-icon {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 20px;
        color: red;
        cursor: pointer;
    }

    input {
        height: 40px;
        border-radius: 10px;
        border: 0px solid black;
        margin: 10px 0;
        padding: 0 10px;
        font-size: 18px;
    }

    .send-button {
        height: 40px;
        border-radius: 10px;
        border: 0px solid black;
        margin: 10px 0;
        padding: 0 10px;
        font-size: 18px;
        background-color: gainsboro;
        color: black;
        cursor: pointer;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: auto;
    }
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    opacity: 1;
    background-color: rgba(0.5, 0.5, 0.5, 0.7);;
}